.body{
  background: #717499;
  background-size: cover;
  min-height: 100%;
}

.button{
  --background: #22388c;
}

ion-input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
  border-right: 5px solid #a94442;
}
ion-input.ng-valid.ng-dirty {
  border-left: 5px solid #42A948;
  border-right: 5px solid #42A948;
}
select.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
  border-right: 5px solid #a94442;
}
select.ng-valid.ng-dirty {
  border-left: 5px solid #42A948;
  border-right: 5px solid #42A948;
}
