<!--
<ion-header>
  <ion-toolbar>
    <ion-title>TabAdministrator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
-->
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="exchange-gift/list">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="car-repair/list">
      <ion-icon name="car"></ion-icon>
      <ion-label>Reparaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agency/list">
      <ion-icon name="business"></ion-icon>
      <ion-label>Agencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gif/list">
      <ion-icon name="gift"></ion-icon>
      <ion-label>Regalos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

