<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Crear Regalo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="body">
    <div class="ion-padding" *ngIf="this.img!=null">
      <div class="center">

        <ion-card>
          <ion-img  [src]="this.img"></ion-img>
        </ion-card>

      </div>
    </div>
    <form [formGroup]="formGift" class="ion-padding">
      <div class="formulario">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col sizeSm="1" sizeLg="1">
            <ion-label>Nombre:</ion-label>
          </ion-col>
          <ion-col sizeSm="11" sizeLg="11">
            <ion-input type="text" class="customInput" formControlName="name"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <p style="color:red;" *ngIf="this.formGift.get('name').invalid&&formGift.get('name').touched">
              *Campo obligatorio. Debe introducir entre 3 y 50 caracteres.
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col sizeSm="1" sizeLg="1">
            <ion-label>Puntos:</ion-label>
          </ion-col>
          <ion-col sizeSm="11" sizeLg="11">
            <ion-input class="customInput" type="number" formControlName="points"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <p style="color:red;" *ngIf="this.formGift.get('points').invalid&&formGift.get('points').touched">
              *Campo obligatorio. El valor mínimo es 1 punto.
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col sizeSm="9" sizeLg="1.5">
            Disponible:
          </ion-col>
          <ion-col sizeSm="3" sizeLg="9.5  ">
            <ion-item  lines="none">
              No<ion-toggle></ion-toggle>Si
           </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">

          <ion-col size="12">
            <ion-input type="file" accept=".jpg,.jpeg,.png" (change)="changeListener($event)"></ion-input>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col>
            <p style="color:red;" *ngIf="this.errorMsg">
              *Campo obligatorio. Debe seleccionar un archivo válido para imagen (png, jpg, etc.).
            </p>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">

          <ion-col size="6">
            <ion-button expand="block" shape="round" style="margin-top: 2% !important;" routerLink="/tab-administrator/gift/list" class="button">
              Volver
            </ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button expand="block" shape="round" style="margin-top: 2% !important;" (click)="create()" class="button" [disabled]="this.formGift.invalid||this.file==null">
              Crear Regalo
            </ion-button>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>
    </form>

</div>
</ion-content>
