<ion-header>
  <ion-toolbar>
    <ion-title>GifCreate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="formulario">

    <form class="ion-padding">
      <ion-item>
        <ion-label>ZipCode:</ion-label>
        <ion-input class="customInput" type="number" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-input type="text" class="customInput" formControlName="description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Localidad:</ion-label>
        <ion-input class="customInput" type="number" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nose:</ion-label>
        <ion-input type="text" class="customInput" formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Desarrollador</ion-label>
        <ion-label type="text" >Elección</ion-label>
        <ion-button expand="block" shape="round" >
          Elegir desarrollador
        </ion-button>
      </ion-item>
      
      <ion-item> 
        <ion-label>Completado</ion-label>
      </ion-item>
      <ion-segment value="no" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="si">
          <ion-label color="success">Si</ion-label>
        </ion-segment-button>
        <ion-segment-button value="no">
          <ion-label color="danger">No</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-button expand="block" shape="round" style="margin-top: 2% !important;" class="button">
        Click me
      </ion-button>

    </form>
  
  </div>

</ion-content>
