.body{
    background: #717499;
    background-size: cover;
    min-height: 100%;
}


.button{
    --background: #22388c;
}

.customInput{
    border: 1px solid gray;
    border-color: "primary";
    border-radius: 0.6rem;
}