.body{
  background: #717499;
  background-size: cover;
  min-height: 100%;

  ion-card{
    height: 25%;
    width: 25%;
    ion-img{
      border: 0.10cm solid black;
    }
  }
}

.fin{
  padding: 0%;
  margin-left: auto;
  
}

.formulario{
  margin-top: 0%;
  padding: 2%;
  border-top: 2px double gray;
  border: 1px solid;
  border-color: "primary";
  border-radius: 2.5rem;
  background-color: white;
  margin-bottom: 4%;
  margin-left: 18%;
  margin-right: 18%;
}

.button{
  --background: #22388c;
}

.customInput{
      border: 1px solid gray;
      border-color: "primary";
      border-radius: 2.5rem;
}

