.body{
  background: #717499;
  background-size: cover;
  min-height: 100%;

  ion-card{
    height: 25%;
    width: 25%;
    ion-img{
      border: 0.10cm solid black;
    }
  }
}


.formulario{
  margin: 1.5rem;
}

.button{
  --background: #22388c;
}


