.body{
  background-color: #f5fbfe !important;
  background-size: cover;
  min-height: 100%;

  ion-card{
    height: 30%;
    width: 30%;
    ion-img{
      border: 0.10cm solid black;
    }
  }
}


.formulario{

    margin-top: 1.5rem;
    margin-left: 19.5rem;
    margin-right: 19.5rem;
    margin-bottom: 19.5rem;
  }

.button{
  --background: #4083cc;
  color: white;
  width: 90%;
}


