<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      Visualizacion de Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="body">
    <div class="ion-padding">
      <center>

        <ion-card>
          <ion-img  [src]="this.img"></ion-img>
        </ion-card>

      </center>
    </div>
    <div class="ion-padding">
      <div class="formulario">
        <ion-grid>

          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-label>Fecha de Intercambio:</ion-label>
            </ion-col>

            <ion-col>
              <ion-text>
                {{this.exchangesaw.dateExchange}}
              </ion-text>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="4.2">
              <ion-label>Observaciones:</ion-label>
            </ion-col>
            <div>
            <ion-text>
              {{this.exchangesaw.observations}}
            </ion-text>
           </div>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="4.2">
              Entregado:
            </ion-col>
              <div>
                <ion-col *ngIf="this.exchangesaw.delivered">
                  <ion-text>
                Si
                  </ion-text>
                </ion-col>

                <ion-col *ngIf="!this.exchangesaw.delivered">
                  <ion-text>
                No
                  </ion-text>
                </ion-col>
            </div>
          </ion-row>

          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <center>
                <ion-button (click)="close()" expand="block" shape="round"  style="margin-top: 4% !important;" class="button">
                  Cerrar Visualizacion
                </ion-button>
              </center>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>


</div>
</ion-content>
