<ion-header [translucent]="false">
  <ion-toolbar color="primary">

    <ion-title>Lista de Regalos</ion-title>

    <ion-buttons style="margin-right: 1%;" slot="end" class="icon-div-container">
      <div title="Nuevo" routerLink="/tab-administrator/gift/create" >
        <ion-icon class="icon-logout" slot="end" style="pointer-events: none;zoom:1.5;cursor:pointer;content:url(../../../../assets/icon/add-circle-outline.png);" ></ion-icon>
      </div>
      <div title="Cerrar Sesión" (click)="logout() ">
      <ion-icon class="icon-logout" slot="end" name="log-out-outline" style="pointer-events: none;zoom:1.7;cursor:pointer"></ion-icon>
      </div>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary">

    <ion-row>
      <ion-col size="9.5">
        <ion-searchbar placeholder="Encuentra el regalo que estás buscando..." debounce="600" inputmode="text" type="text" (ionChange)="onSearchChange()" showCancelButton="always"></ion-searchbar>
      </ion-col>

      <ion-col>
          <ion-item style="height: 85%; margin-top:1.1%">
            <ion-label>Disponible:</ion-label>
            <ion-select  (ionChange)="this.onSearchChange()" interface="popover" multiple="false">
              <ion-select-option value="true">Si</ion-select-option>
              <ion-select-option value="false">No</ion-select-option>
              <ion-select-option value="all">Todos</ion-select-option>

            </ion-select>
          </ion-item>
      </ion-col>
    </ion-row>


    <ion-row #rowItem class="header-row">

      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>

      <ion-col size="3.3" style="border: 0px !important;">
        <ion-text>Nombre</ion-text>
      </ion-col>

      <ion-col  size="3.4" style="border: 0px;">
        <ion-text>Puntos</ion-text>
      </ion-col>

      <ion-col  size="3.3" style="border: 0px !important;">
        <ion-text>Disponible</ion-text>
      </ion-col>

      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>
    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="reset($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="body">

  <ion-grid class="ion-text-center">

    <ion-row let *ngFor="let gift of this.gifts" class="row">

      <ion-col size="1">
        <ion-text>
        <div title="Editar" (click)="edit(gift)" style="cursor:pointer">
          <ion-icon name="pencil" style="color:#22388c;" (click)="edit(gift)"></ion-icon>
        </div>
        </ion-text>
      </ion-col>

      <ion-col size="3.3">
        <ion-text>
            {{gift.name}}
        </ion-text>
      </ion-col>

        <ion-col size="3.4">
          <ion-text>
            {{gift.points}}
          </ion-text>
        </ion-col>

        <ion-col size="3.3">
          <div title="Disponible">
            <ion-icon *ngIf="gift.available" name="checkmark-circle" style="color: #39ff14;"></ion-icon>
          </div>

          <div title="Sin stock">
            <ion-icon *ngIf="!gift.available" name="close-circle" style="color: red;"></ion-icon>
          </div>
        </ion-col>

        <ion-col size="1">
          <ion-text>
            <div title="Eliminar" (click)="showDeleteMenu(gift)" style="cursor:pointer">
              <ion-icon name="trash" color="danger" (click)="showDeleteMenu(gift)"></ion-icon>
            </div>
          </ion-text>
        </ion-col>

    </ion-row>

  </ion-grid>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

</ion-content>

