<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    
    <ion-title>Lista de Regalos</ion-title>

    <ion-buttons style="margin-right: 1%;" slot="end">
      <ion-icon slot="end" name="add-circle" style="zoom:1.5;cursor:pointer" ></ion-icon>
      <ion-icon slot="end" name="person" style="zoom:1.5;cursor:pointer;"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="dark" placeholder="Encuentra el regalo que estás buscando..." inputmode="text" type="text" (ionChange)="onSearchChange($event)" showCancelButton="always"></ion-searchbar>

    <ion-row #rowItem class="header-row">
      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>

      <ion-col size="5" style="border: 0px !important;">
        <ion-text>Nombre</ion-text>
      </ion-col>

      <ion-col  size="5" style="border: 0px !important;">
        <ion-text>Puntos</ion-text>
      </ion-col>
      
      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>
    </ion-row>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="reset($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="body">

  <ion-grid class="ion-text-center">

    <ion-row let *ngFor="let gift of this.gifts" class="row">
      
      <ion-col size="1">
        <ion-text>
          <ion-icon name="pencil" style="color:#22388c;cursor:pointer"></ion-icon>
        </ion-text>
      </ion-col>
      
      <ion-col size="5">
        <ion-text>
            {{gift.name}}
        </ion-text>
      </ion-col>

        <ion-col size="5">
          <ion-text>
            {{gift.points}}
          </ion-text>
        </ion-col>
  
        <ion-col size="1">
          <ion-text>
            <ion-icon name="trash" color="danger" style="cursor: pointer;" (click)="showDeleteMenu(gift)"></ion-icon>
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
  
</ion-content>

