<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="test_GetAll()" expand="block" shape="round">
    Prueba getAll()
  </ion-button>
  
  <ion-button (click)="test_GetAllPaged(15,0)" expand="block" shape="round">
    Prueba getAllPaged()
  </ion-button>
  
  <ion-button (click)="test_GetById(7)" expand="block" shape="round">
    Prueba getById()
  </ion-button>
  
  <ion-button (click)="test_GetByName('no')" expand="block" shape="round">
    Prueba getbyname()
  </ion-button>
  
  <ion-button (click)="test_Delete()" expand="block" shape="round">
    Prueba delete
  </ion-button>
</ion-content>