.formulario{
    margin: 2%;
    border-top: 2px double gray;
    border: 1px solid;
    border-color: "primary";
    border-radius: 2.5rem;

    

}

.button{
    --background: #22388c;
}

.customInput{
    border: 1px solid;
    border-color: "primary";
    //border-radius: 2.5rem;
    
}

