.body{
    background: #717499;
    height: 100%;

}

.formulario{
    padding: 1%;
    border-top: 2px double gray;
    border: 1px solid;
    border-color: "primary";
    border-radius: 2.5rem;
    background-color: white;
}

.button{
    --background: #22388c;
}

.customInput{
        border: 1px solid gray;
        border-color: "primary";
        border-radius: 2.5rem;
}

.toggle{
    padding-right: 60%;
}

