.tab{
    background-color: #4083cc;
    ion-tab-button{
        background-color: #4083cc;
        ion-icon{
            color: white;
        }
        ion-label{
            color: white;
        }
    }
  }

  ion-icon{
    pointer-events: none;
  }

