.body{
  background: #d0e5f0;
  background-size: cover;
  min-height: 100%;

  ion-card{
    height: 25%;
    width: 25%;
    ion-img{
      border: 0.10cm solid black;
    }
  }
}




.button{
  --background: #4083cc;
  color: white;
}
.button2{
  --background: #ff8282;
  color: white;
}
.colum{
  border: 0px solid !important;
  
  text-align: center;
  
  border-radius: 5px;
  ion-text{

    text-align: center;
   
 
  }
}

