<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      Canjear Pedido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="body">
    
    <div class="ion-padding">    
      <center>
        
        <ion-card>
          <ion-img  [src]="this.img"></ion-img>
        </ion-card>

      </center>
    </div>
    <div class="ion-padding">
      <div class="formulario">
        <ion-grid>
          
          <ion-row class="ion-align-items-center">
            <ion-col class="colum">
            <div>
              <ion-text class="colum">
                Nombre : {{this.giftsaw.name}}
              </ion-text>
            </div>
          </ion-col>
          </ion-row>
  
          <ion-row class="ion-align-items-center">
            <ion-col class="colum">
              <div>
                <ion-text>
                  Precio : {{this.giftsaw.points}} Puntos
                </ion-text>
             </div>
            </ion-col>
          </ion-row>
  
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              

              <ion-button (click)="close()" expand="block" shape="round"  style="margin-top: 2% !important;" class="button" >
                Realizar Transacción
              </ion-button>

              <p></p>
              <p></p>
              <ion-button (click)="close()" expand="block" shape="round"  style="margin-top: 2% !important;" class="button2">
                Cancelar Transacción
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
      
    
</div>
</ion-content>