<ion-header [translucent]="false">
  
  <ion-toolbar color="primary">

    <ion-title>Lista de Agencias</ion-title>

    <ion-buttons style="margin-right: 1%;" slot="end">
      <ion-icon class="icon-logout" slot="end" name="add-circle" style="zoom:1.5;cursor:pointer" routerLink="/tab-administrator/user/create"></ion-icon>
      <ion-icon class="icon-logout" slot="end" style="zoom:1.3;cursor:pointer;content: url( ../../../../assets/icon/user_list.png);" routerLink="/tab-administrator/user/list"></ion-icon>
      <ion-icon class="icon-logout" slot="end" name="log-out-outline" (click)="logout() " style="zoom:1.7;cursor:pointer"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary" (ionChange)="searchChange($event)">
    <ion-searchbar placeholder="Encuentra la agencia que estás buscando..." inputmode="text" type="text" (ionChange)="onSearchChange($event)" showCancelButton="always"></ion-searchbar>

    <ion-row class="header-row">
      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>

      <ion-col size="3.3" style="border: 0px !important;">
        <ion-text>Compañía</ion-text>
      </ion-col>

      <ion-col  size="3.3" style="border: 0px !important;">
        <ion-text>Localidad</ion-text>
      </ion-col>

      <ion-col size="3.3" style="border: 0px !important;">
        <ion-text>Puntos</ion-text>
      </ion-col>
      
      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>
    </ion-row>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" style="background-color: white;">

  <ion-refresher slot="fixed" (ionRefresh)="reset($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="body">
  

  <ion-grid class="ion-text-center">

  <ion-row let *ngFor="let agency of this.agencies;let i=index" class="row">
      
      <ion-col size="1">
        <ion-text>
          <ion-icon name="pencil" style="color:#22388c;cursor:pointer" (click)="edit(agency)"></ion-icon>
        </ion-text>
      </ion-col>
      
      <ion-col size="3.4">
        <ion-text>
            {{agency.myInsuranceCompany.cia_Name}}
        </ion-text>
      </ion-col>

        <ion-col size="3.3">
          <ion-text>
            {{agency.location}}
          </ion-text>
        </ion-col>
  
        <ion-col size="3.3">
          <ion-text>
            {{agency.points}}
          </ion-text>
        </ion-col>

        <ion-col size="1">
          <ion-text>
            <ion-icon name="trash" color="danger" style="cursor: pointer;" (click)="showDeleteMenu(agency)"></ion-icon>
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
  
</ion-content>
