.body{
    background: #717499;
    background-size: cover;
    min-height: 100%;
}

.button{
    --background: #22388c;
    color: white;
}

.secundaryInput{
    margin-left: 5%;
}
.date{
    margin-left: 20%;
}

.buttonDate{
    background-color: #717499;
    
}