<ion-header [translucent]="false">

  <ion-toolbar color="primary">

    <ion-title>Lista de Compañias de Seguros</ion-title>

    <ion-buttons style="margin-right: 1%;" slot="end" class="icon-div-container">
      <div title="Nuevo" routerLink="/tab-administrator/company/create" >
        <ion-icon class="icon-logout" slot="end" style="pointer-events: none;zoom:1.5;cursor:pointer;content:url(../../../../assets/icon/add-circle-outline.png);" ></ion-icon>
      </div>

      <div title="Lista de Agencias" routerLink="/tab-administrator/agency/list">
        <ion-icon class="icon-logout" slot="end" style="pointer-events: none;zoom:1.3;cursor:pointer;content: url( ../../../../assets/icon/agency_list.png);" ></ion-icon>
      </div>

      <div title="Cerrar Sesión" (click)="logout() ">
      <ion-icon class="icon-logout" slot="end" name="log-out-outline" style="pointer-events: none;zoom:1.7;cursor:pointer"></ion-icon>
      </div>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar style="padding-bottom: 1%;" color="primary">
    <ion-searchbar (ionChange)="searchChange()" placeholder="Encuentra la compañía que estás buscando..." debounce="1000" inputmode="text" type="text" showCancelButton="always"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" style="background-color: white;">

  <ion-refresher slot="fixed" (ionRefresh)="reset($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="body">


  <ion-grid class="ion-text-center">

  <ion-row let *ngFor="let company of this.companies; let i=index" [ngClass]="(i % 2 == 0) ? 'normal' : 'colored'" >

      <ion-col size="0.4">
        <ion-text class="icon-div-container" (click)="edit(company)" title="Editar">
          <ion-icon name="pencil" style="color:#22388c;pointer-events: none;" ></ion-icon>
        </ion-text>
      </ion-col>

      <ion-col size="0.4">
        <ion-text (click)="showDeleteMenu(company)" class="icon-div-container" title="Eliminar">
          <ion-icon name="trash" color="danger" style="pointer-events: none;"></ion-icon>
        </ion-text>
      </ion-col>

      <ion-col size="11.2" class="left">
        <ion-text>
            {{company.cia_Name}}
        </ion-text>
      </ion-col>

    </ion-row>

  </ion-grid>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

</ion-content>
