
  ion-col {
    //border-bottom: 1px solid #4b4b4d;
    ion-text{
      color:#4b4b4d !important;
    }
  }
.header-row {
    //background: #9b9b9b;
    //margin-right: 1%;
    border-radius: 0%;
    border: 0px;
    ion-col{
      text-align: center;
    ion-text{
      color: #fff !important;
      font-size: 1.2rem;
      text-align: center;
    }}
  }
  .row {
    //background: #22388c;
    color: #fff;
    font-size: 1.1rem;
  }
  .ico{
    color: rgb(255, 255, 255);
  }
  .body{
  /*  background: -webkit-linear-gradient(left, #22388c, #9ba2cc);
    background: linear-gradient(to right, #22388c, #9ba2cc);*/
    background: #d0e5f0 !important;
    background-size: cover;
    min-height: 100%;
    color: #4b4b4d;

  }

  ion-content{
    --background: #f5fbfe;
}

  .leftside{
    margin-left: 5%;
    width: 30%;
    float: left;
    height: 15rem;
    display: table;
  }

  .list{
    background: #d0e5f0 !important;
  }

  .rightside{

    width: 65%;
    float: right;
    height: 15rem;
    text-align: center;
    display: table;
  }


  .imcage{
    width: 15rem;
    max-width: 200px;
    height: 15rem;
    vertical-align: middle;
  }
  .image{
    width: 100%;
    max-width: 200px;
    height: 15rem;
    vertical-align: middle;
    box-shadow: inset;
    border-radius: 25%;
  }

  .shopbox{
    background-color: #fff !important;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 25px;
    padding-top: 7% !important;
    padding-bottom: 7% !important;
  }
  ion-item{
    --inner-border-width: 0; // this removes the inner border width
 }
