<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    
    <ion-title>Lista de Regalos Intercambiados</ion-title>

    <ion-buttons style="margin-right: 1%;" slot="end">
      <ion-icon class="icon-logout" slot="end" name="add-circle" style="zoom:1.5;cursor:pointer"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Encuentra el regalo intercambiado que estás buscando..." inputmode="text" type="text" (ionChange)="onSearchChange($event)" showCancelButton="always"></ion-searchbar>

    <ion-row class="header-row">
      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>

      <ion-col size="2.5" style="border: 0px !important;">
        <ion-text>Fecha de Intercambio</ion-text>
      </ion-col>

      <ion-col  size="2.5" style="border: 0px !important;">
        <ion-text>Nombre de Agencia</ion-text>
      </ion-col>

      <ion-col size="2.5" style="border: 0px !important;">
        <ion-text>Nombre de Regalo</ion-text>
      </ion-col>

      <ion-col size="2.5" style="border: 0px !important;">
        <ion-text>Entregado</ion-text>
      </ion-col>

      <ion-col size="1" style="border: 0px !important;">
        <ion-text></ion-text>
      </ion-col>
    </ion-row>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" style="background-color: white;">

  <ion-refresher slot="fixed" (ionRefresh)="reset($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="body">
  

  <ion-grid class="ion-text-center">

    <ion-row let *ngFor="let exchangeGift of this.exGifts" class="row">
      
      <ion-col size="1">
        <ion-text>
          <ion-icon name="pencil" style="color:#22388c;cursor:pointer"></ion-icon>
        </ion-text>
      </ion-col>
      
      <ion-col size="2.5">
        <ion-text>
            {{exchangeGift.dateEchange}}
        </ion-text>
      </ion-col>

        <ion-col size="2.5">
          <ion-text>
            {{exchangeGift.agency.zipCode}}
          </ion-text>
        </ion-col>
  
        <ion-col size="2.5">
          <ion-text>
            {{exchangeGift.gift.name}}
          </ion-text>
        </ion-col>

        <ion-col size="2.5">
          <ion-text>
            {{exchangeGift.isDelivered}}
          </ion-text>
        </ion-col>
        
        <ion-col size="1">
          <ion-text>
            <ion-icon name="trash" color="danger" style="cursor: pointer;" (click)="mensagealerta(exchangeGift)"></ion-icon>
          </ion-text>
        </ion-col>
    </ion-row>

  </ion-grid>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="cargaInfinita($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>
  
</ion-content>
