<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Prueba Agencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body">
    <div class="ion-padding">
      <div class="formulario">
        <ion-row>
          <ion-col size="12">
            <h1>Agencia tal</h1>
          </ion-col>
        </ion-row>
        <ion-row>
      </ion-row>

      <ion-row>

        <ion-col size="12">
          <ion-label>Código Zip: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>
      
      <ion-row class="info">

        <ion-col size="12">
          <ion-label>Dirección: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="info">

        <ion-col size="12">
          <ion-label>Localidad: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="info">

        <ion-col size="12">
          <ion-label>Número de Teléfono: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="info">

        <ion-col size="12">
          <ion-label>Total: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="info">

        <ion-col size="12">
          <ion-label>Puntos Actuales: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="info">

        <ion-col size="12">
          <ion-label>Puntos Gastados: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>

      <ion-row class="info">

        <ion-col size="12">
          <ion-label>Activa: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Compaía de Seguros: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Usuario: </ion-label>
          <ion-label color="tertiary">123123123</ion-label>
        </ion-col>
      </ion-row>

    </div>
  </div>
</div>
</ion-content>
