<ion-header [translucent]="false">

  <ion-toolbar color="medium">

    <ion-title>Lista de Canjees</ion-title>

    <ion-buttons style="margin-right: 1%;cursor:pointer;" slot="end" title="Cerrar Sesión" (click)="this.logout()">
      <ion-icon slot="end" name="log-out-outline" style="color: rgb(255, 255, 255);zoom:1.7;cursor:pointer"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
  <ion-toolbar color="medium">
    <ion-row>
      <ion-col size="9">
        <ion-searchbar  placeholder="Encuentra el canjeo que estás buscando..." inputmode="text" type="text"
        debounce="1000" (ionChange)="this.searchChange()" showCancelButton="always"></ion-searchbar>
      </ion-col>
      <ion-col sizeSm="3" sizeLg="3" class="selector">
        <ion-item style="height: 85%; margin-top:1.1%">
          <ion-label>Entregado:</ion-label>
          <ion-select (ionChange)="this.searchChange()" interface="popover" multiple="false">
            <ion-select-option value="true">Si</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
            <ion-select-option value="all">Todos</ion-select-option>

          </ion-select>
        </ion-item>
    </ion-col>
    </ion-row>

    <ion-row class="header-row">

      <ion-col size="1" style="border: 0px !important;">
      </ion-col>

      <ion-col size="4" style="border: 0px !important;">
        <ion-text>Regalo</ion-text>
      </ion-col>

      <ion-col  size="3" style="border: 0px !important;">
        <ion-text>Puntos</ion-text>
      </ion-col>

      <ion-col size="4" style="border: 0px !important;">
        <ion-text>Fecha del pedido</ion-text>
      </ion-col>

    </ion-row>

  </ion-toolbar>

</ion-header>

<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="reset($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="body">


  <ion-grid class="ion-text-center" *ngIf="this.exchanges.length> 0">

  <ion-row (click)="show(exchange)" let   *ngFor="let exchange of this.exchanges;let i=index" class="row">

      <ion-col  size="1">
        <div title="Entregado">
          <ion-icon class="icon-c" style="color:blueviolet" *ngIf="exchange.delivered" name="gift"></ion-icon>
        </div>
      </ion-col>

      <ion-col ize="4" >


        <ion-text class="pointer">
            {{exchange.gift.name}}
        </ion-text>
      </ion-col>

        <ion-col  size="3">
          <ion-text class="pointer">
            {{exchange.gift.points}}
          </ion-text>
        </ion-col>

        <ion-col size="4">
          <ion-text class="pointer">
            {{exchange.dateExchange}}
          </ion-text>

        </ion-col>



    </ion-row>

  </ion-grid>



  <ion-infinite-scroll threshold="100px" (ionInfinite)="infiniteLoad($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>

</ion-content>
